* {
    background-color: #30425a;
    font-family: 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.hero {
    padding: 2px 1em;
    margin: 10px 5em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
  display: flex;
  gap: 1rem;
}